.rulesList {
    display: flex;
    margin-top: 30px;
    width: 400px;
		overflow-x: hidden;
		max-height: 600px;
}

@media (max-width: 1400px) {
    .rulesList {
			width: calc(180px + 495 * (100vw / 1280)) ;
    }
}
