.filePage {
    margin-top: 30px;
}
.react-pdf__Document{
    width: calc(180px + 470 * (100vw / 1280)) !important;
    height: 100% !important;
}
.react-pdf__Page{
    box-shadow: 0px 0px 15px 10px #bfbebe;
    margin: 0px;
    margin-bottom: 25px;
    width: calc(180px + 470 * (100vw / 1280)) !important;
    height: 100% !important;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: calc(180px + 470 * (100vw / 1280)) !important;
    height: 100% !important;
}

