.selected-item {
  background-color: #7950f2;
  color: white;
    cursor: pointer; 
    border-radius: 5px;
    
  }
  
.ruleViolationItem {
    border-color: #e9e7e7;
    border-radius: 15px;
    border-style: solid; 
    margin: 3px;
    padding: 5px;
}