.stepCard {
  width: calc(33.33% - 20px);
  margin: 10px;
  height: 600px;
  border: 2px solid violet;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease;
}

.aboutPage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 26px;
}

.label {
  display: 'flex';
  flex-direction:'column';
  height: '70vh'; 
}

.lead {
  font-size: '24px';
  font-weight: 'bold';
  margin-bottom: '20px';
}

.githubButton {
  padding-top: 15px;
  padding-bottom: 15px;
}

.guide {
  display: 'flex'; 
  flex-direction: 'column';
  justify-content: center;
  text-align: center;
  padding: '20px';
  
}
.arrow {
  font-size: 68px;
  color: violet;
  margin-top: 10px;
  }
  
.down {
  transform: rotate(90deg);
  }
.left {
  transform: rotate(180deg);
  }
  
  