.ruleViolationsHeader{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1400px) {
    .ruleViolationsHeader{
        margin-top: 20px;
        display: inline-block;
    }
}